<div class="container" ng-controller="enginesCtrl">
    <div class="sub_menu">
        <button id="add_new_engine">&#x2795; Add Engine</button>
    </div>
    <table class="table table-striped" id="engines_list">
        <thead>
            <tr>
                <th class="engine_status"></th>
                <th>Name</th>
                <th>Address</th>
                <th>Port</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbody_engines_list">
            <tr ng-repeat="engine in engines | filter:query">
                <td ng-if="engine.active == 1" class="engine_status engine_online"></td>
                <td ng-if="engine.active == 0" class="engine_status engine_offline"></td>
                <td>{{engine.name}}</td>
                <td>{{engine.address}}</td>
                <td>{{engine.port}}</td>
                <td>{{engine.owner}}</td>
                <td>
                    <button ng-if="engine.active == 0" engine="{{engine.id}}" title="Activate Engine" id="activate_engine">&#x25B6;</button>
                    <button engine="{{engine.id}}" title="Delete Engine" id="delete_engine">&#x2718;</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

